.DS_Store

**/target/*
**/credentials/*.json
.idea
**/tmp.java
**/*.env
/frontend/src/main/java/tmpClient.java
!/.idea/
!/.idea/workspace.xml
/out/
/part-r-00000
/backend/tmp/
/scratch/
/IndexClasses/
